<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>EMBEBIDOS PRUEBA FINAL - SEBASTIAN CASTILLO</title>
</head>
<body>

<h1>SENSORES</h1>
<img src="/static/images/iot.png" alt="user">
<h1>Monitor de sensores:</h1>
<button id = 'LED1'type="button" onclick="LED1_On();">
LED1 ON!</button>
<button id = 'LED2' type="button" onclick="LED1_Off();">
LED1_OFF!</button>
<h2>Hostorial:</h2>
<h type="text" id="lname3" name="lname"></h><br><br>
</body>
</html>
